#IKJBXLINE-3860 add omadm load property service
service omadmLoadProp /system/bin/Omadmloadproperty
    class boot
    oneshot
    disabled

service battryconfig /system/bin/battery.sh
    class boot
    oneshot
    disabled

on boot
#IKJBXLINE-3860 load omadm systemproperty
    start omadmLoadProp

#To include the sprint jar file into the bootclasspath

    setprop persist.sprint.dm.status  1,1,1,1,1,1,1,1,1,1
    setprop persist.sprint.dm.gps.status  0

#Permissions for disable charging
    start battryconfig

#Permissions for Service Center Counters
    chown radio radio /pds/public/hiddenmenu/data/mobile_data_tx
    chown radio radio /pds/public/hiddenmenu/data/mobile_data_rx
    chown radio radio /pds/public/hiddenmenu/data/wifi_data_tx
    chown radio radio /pds/public/hiddenmenu/data/wifi_data_rx

#Permissions for Service Center Dates
    chown mot_tcmd radio /pds/public/hiddenmenu/data/pri_rate_intfc
    chown mot_tcmd radio /pds/public/hiddenmenu/data/refurb_date
    chown mot_tcmd radio /pds/public/hiddenmenu/data/refurb_status

    chmod 0644 /pds/public/hiddenmenu/data/pri_rate_intfc
    chmod 0644 /pds/public/hiddenmenu/data/refurb_date
    chmod 0644 /pds/public/hiddenmenu/data/refurb_status

#Permission for Persist Omadm
    chmod 0755 /persist/omadm
    chmod 0644 /persist/omadm/persist.txt

#Permission for telephony
    mkdir /persist/telephony 0770 radio radio

