config SENSORHUB_DEBUG_LOGGING
	bool "sensorhub debug logging"
	default n
	help
	  Say yes here if you wish to enable debug
	  logging from the sensorhub.

config SENSORS_STML0XX
	tristate "STML0XX Sensor Processor"
	default n
	depends on SPI
	help
	  Say yes here if you wish to include the STM
	  STML0XX Sensor processor driver.

config MMI_HALL_NOTIFICATIONS
	bool "Enable hall effect sensor notifier"
	default n
	depends on SENSORS_STML0XX
	help
	  Support for hall effect sensor notifications.

config STML0XX_LED
	bool "STML0XX blinking LED notifications"
	default n
	depends on SENSORS_STML0XX
	help
	  Say yes here if you wish to have blinking notification
	  LED support for STML0XX controlled LEDs. This only
	  works on surnia and lux for the msm8916 family.
